@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  /* background-image: url(img/background-maze.svg); */
  background-image: url(img/background-grid.svg);
  background-color: black;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

button {
  padding: 20px 30px;
  font-size: 1.6rem;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  font-weight: 900;
  color: black;
  background-color: #c4c4c4;
}
#toggle-history {
  font-weight: 300;
  font-size: 1rem;
  padding: 10px 15px;
}

button:hover,
.weapon:hover {
  cursor: pointer;
}

header {
  margin: 10px;
  padding: 10px;
}
thead 
/* tbody, */
th, thead tr {
  border-bottom: 2px solid black;
  border-radius: 12px;
  padding: 4px 8px;
}
td {
  padding: 6px;
}
tbody th {
  border-right: 1px solid black;
}
table {
  width: 100%;
  text-align: center;
  background-color: #c4c4c4;
  color: black;
  border-collapse: collapse;
  border-radius: 12px;
}
section {
  padding: 0 15vw;
}
svg {
  width: 5rem;
}
.brand {
  font-size: 2rem;
  font-weight: 750;
  opacity: 0.9;
}

.footer {
  padding: 15px;
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.navbar {
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.9rem;
  gap: 32px;
}
.score-counters {
  padding: 30px 5vw;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 900;
}
.selection-cards {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: space-between;
}

.weapon-row {
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  min-width: 75%;
  overflow: hidden;
}

.weapon {
  padding: 15px;
  flex: 1;
  min-height: 250px;
  border: 1px solid white;
  max-width: 15vw;
  background-color: white;
  color: black;
  border-radius: 15px;
}

.weapon-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.weapon-content-header {
  display: flex;
  justify-content: space-between;
}

.headline {
  font-size: 2rem;
}

.analytics {
  padding: 50px 5vw;
}

.analytics-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.analytics-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.analytics-card#move-history {
  flex-grow: 2;
}

.hide {
  display: none;
}

.welcome-screen {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25vh;
}

.welcome-screen h1 {
  font-size: 3rem;
  animation: fadein 2s;
}
.welcome-screen button {
  align-self: center;
  animation: fadein 8s;
}

.goodbye {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goodbye-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}
.goodbye-text {
  font-size: 2rem;
}

.fadeout {
  animation: fadeout 2s;
}
.fadein {
  animation: fadein 2s;
}

.highlight {
  animation: color-on-hover 1s;
  color: #d51010;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes color-on-hover {
  from {
    color: black;
  }
  to {
    color: #d51010;
  }
}

@keyframes swell {
  from {
    font-size: 1.5rem;
  }
  to {
    font-size: 1.75rem;
  }
}
.weapon:hover h2 {
  animation: swell 1s;
  font-size: 1.75rem;
}
